<?xml version="1.0"?>
<config>
    <modules>
        <HusseyCoding_CartRuleFix>
            <version>0.1.0</version>
        </HusseyCoding_CartRuleFix>
    </modules>
    <global>
        <models>
            <salesrule>
                <rewrite>
                    <validator>HusseyCoding_CartRuleFix_Model_SalesRuleValidator</validator>
                </rewrite>
            </salesrule>
        </models>
    </global>
</config>
